<html>
 <head>
    <title>This is the post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <style>
   body{
       background-color:  DarkCyan;
       }
   h2{
       text-align:center
       }
   #myImage{
        display: block;
        margin-left: auto;
        margin-right: auto
        }
   </style>
 </head>
 <body>
 <h2> <u>This is where the heading will be</u> </h2>
 <br>
  <img id="myImage" src="" alt="" width="200" height="200" class="img1" />
    <br>
  <div class="row">
   <div class="col-md">
    <div class="card card-body">
     <p>this is me trying</p>
    </div>
    </div>
  </div>
 </body>
</html>